aeropuerto.dtd

<!ELEMENT aeropuerto (nombre, vuelos, fecha)>
   <!ELEMENT nombre (#PCDATA)>
   <!ELEMENT vuelos (vuelo+)>
   <!ELEMENT vuelo (diario?, origen, destino, horasalida, horallegada)>
      <!ATTLIST vuelo codigo ID #REQUIRED>
      <!ATTLIST vuelo estado (C|A|R) "A">
   <!ELEMENT diario EMPTY>
   <!ELEMENT origen (#PCDATA)>
   <!ELEMENT destino (#PCDATA)>
   <!ELEMENT horasalida (#PCDATA)>
   <!ELEMENT horallegada (#PCDATA)>
   <!ELEMENT fecha (#PCDATA)>